.hobbie {
    background-color: whitesmoke;
    color: #333;
    width: 99%;
    height: 175px;
    line-height: 7px;
    border-radius: 25px;
}

.hobbie h2 {
    font-size: 48px;
    padding-top: 45px;
    padding-left: 20px;
}

.hobbie h3 {
    font-size: 24px;
    padding-left: 20px;
}

.hobbie button {
    font-size: 24px;
    margin-left: 20px;
    width: 200px;
    background-color: #333;
    color: whitesmoke;
    border-radius: 10px;
    border-width: 0px;
}